.sidenav {
    background-color: $background-color;
    text-align: center;
    color: $primary-color;
    .profile {
        img {
            border-radius: 100%;
            border: 5px solid $primary-color;
            width: 200px;
        }
    }
    .social-links {
        padding-bottom: 20px;
        a {
            color: $primary-color;
            margin-right: 20px;
            transition: color 0.5s;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: #FFFFFF;
            }
        }
    }
}
.homepage {
    background-color: #FAFAFA;
}
.bio {
    margin: 0 20px;
    .bio-text {
        line-height: 1.5;
        h1 {
            color: $primary-color;
        }
    }
}

@media (min-width: 960px) {
    .homepage {
        display: flex;
    }
    .bio {
        width: 70%;
        height: 100vh;
        overflow-y: scroll;
        padding: 0 50px 0 50px;
        z-index: 999;
        margin: 0;
    }
    .sidenav {
        height: 100vh;
        order: 2;
        width: 30%;
        .profile {
            margin-top: 150px;
        }

    }
}