body {
    background: url('https://images.unsplash.com/photo-1462663608395-404cb6246eaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=47d882ec1d9e97c67aeafe03e8780dc0') no-repeat center center fixed;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}

.infobox {
    padding: 20px 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 2px 4px rgba(0,0,0,.3);

    .icons {
        margin-top: 10px;

        a {
            cursor: pointer;
            color: #263238;
            transition: 1s color;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #000000;
            }
        }
    }

    button {
      padding: 10px 20px;
      margin: 20px 0 0 0;
      border: 0;
      background-color: #455a64;
      color: #FFFFFF;
      cursor: pointer;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0,0,0,.3);
      transition: background-color 0.5s;
      &:hover {
        background-color: #37474f;
      }
    }
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    font-size: 3em;
    font-weight: bold;
}
