body {
    background: url('https://images.unsplash.com/photo-1462663608395-404cb6246eaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=47d882ec1d9e97c67aeafe03e8780dc0') no-repeat center center fixed;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}

.infobox {
    animation: fadein 0.5s;
    padding: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 6px 5px rgba(0,0,0,.3);

    .logo {
        width: 100px;
        margin-bottom: 10px;
        transition: 0.5s box-shadow;

        &:hover {
            box-shadow: 0 4px 4px rgba(0,0,0,.3);
        }
    }

    h1 {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 5px;
    }

    p {
        font-size: 1em;
    }
    @media (min-width: 800px) {
        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }

    .icons {
        margin-top: 10px;

        a {
            cursor: pointer;
            color: #263238;
            transition: 1s color;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #000000;
            }
        }
    }

    button {
        padding: 10px 20px;
        margin: 20px 0 0;
        border: 0;
        background-color: #455a64;
        color: #FFFFFF;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0,0,0,.3);
        transition: background-color 0.5s;
        font-size: 0.9em;

        &:hover {
            background-color: #37474f;
        }
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.50;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}
